<p id="notice"><%= notice %></p>


<p>
  <b>Creator:</b>
  <%= @scheme.creator_id %>
</p>

<p>
  <b>Description:</b>
  <%= @scheme.description %>
</p>

<p>
  <b>Title:</b>
  <%= @scheme.title %>
</p>

<!-- 
<%= link_to 'Edit', edit_event_scheme_path(@event,@scheme) %> 
 -->