<script src='https://swww.tokbox.com/webrtc/v2.0/js/TB.min.js'></script>
<script type="text/javascript">
          // Initialize API key, session, and token...
          // Think of a session as a room, and a token as the key to get in to the room
          // Sessions and tokens are generated on your server and passed down to the client
          var apiKey = "16342281";
          var sessionId = "2_MX4xNjM0MjI4MX4xMjcuMC4wLjF-U2F0IE1heSAxOCAxNjo0OTozOSBQRFQgMjAxM34wLjc5MTgzNzYzfg";
          var token = "T1==cGFydG5lcl9pZD0xNjM0MjI4MSZzZGtfdmVyc2lvbj10YnJ1YnktdGJyYi12MC45MS4yMDExLTAyLTE3JnNpZz05OGYzNmUzZTdmYmI1MDcyNDZmNmVmMGM2NmIxNzljNzQxZDQ0OTQ4OnJvbGU9cHVibGlzaGVyJnNlc3Npb25faWQ9JmNyZWF0ZV90aW1lPTEzNjg5MjA5Nzkmbm9uY2U9MC40MTEwNzUzNjg0OTA1NzQzNiZleHBpcmVfdGltZT0xMzY5MDA3MzgzJmNvbm5lY3Rpb25fZGF0YT0=";

          // Initialize session, set up event listeners, and connect
          var session = TB.initSession(sessionId);
          session.addEventListener('sessionConnected', sessionConnectedHandler);
          session.connect(apiKey, token);
          
          function sessionConnectedHandler(event) {
            var publisher = TB.initPublisher(apiKey, 'myPublisherDiv');
            session.publish(publisher);
          }
        </script>

        
<script>
$(document).ready(function(){
    <% if @current_user %>
    var posX = ""
    var posY = ""
    var picked = false

    $("#pin").hide()
    $('#map3').mousemove(function(e){
        if (!picked){
             var parentOffset = $(this).parent().offset(); 
               //or $(this).offset(); if you really just want the current element's offset
               posX = e.pageX - parentOffset.left - 24;
               posY = e.pageY - parentOffset.top - 40;
             $("#pin").show()
             $("#pin").css("left", posX + "px")
             $("#pin").css("top", posY + "px")
             console.log(posX + " " + posY)
        }
    });

    $('#map3').dblclick(function(){
        picked = false
        $('#temp-loc').html("")
    })

    $('#map3').click(function(){
        $('#temp-loc').html("Your location is saved!")
        picked = true
    });

    $('#add-scheme-btn, #add-to-watch-already-exists-btn').click(function(){
      $.ajax({
            type: "POST",
            url: "/add-scheme/",
            data: {
                  scheme_id: <%= @scheme.id %>,
                  user_id: <%= @current_user.id %>,
                  'left': posX,
                  'top': posY
            },
            dataType: "json",
            success: function(data){
                location.reload()
            }
        });

    })

    $('#message-submit').click(function(){
        $.ajax({
            type: "POST",
            url: "/events/<%= @scheme.event.id %>/schemes/<%= @scheme.id %>/messages/",
            data: {
                message:{
                    scheme_id: <%= @scheme.id %>,
                    user_id: <%= @current_user.id %>,
                    content: $('#message').val()
                }
            },
            dataType: "json",
            success: function(data){
                location.reload()
            }
        });
      })

        
    <% end %>
  
})

</script>

<% if @current_user && !@scheme.users.include?(@current_user) %>





<% if !@already_have_loc %>
<a href="#myModal" role="button" class="btn" data-toggle="modal"> Add To Your Watchlist</a>
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    Add To Your Watchlist!
  </div>
  <div class="modal-body">
   

  
    

         Pick your location below by clicking on the map. Double click to change:
        <div "temp-loc" > </div>

        <div id="map3" style="background-image:url('http://blog.ticketcity.com/wp-content/uploads/2008/09/new-dallas-cowboys-stadium-arlington-seating-chart1.jpg'); background-size: 500px 500px; width: 500px; height: 500px; position:relative">
            <image id="pin" src="/img/map.png" style="width:12px; height:20px; position:absolute"/>
        </div>
         <button type="submit" id="add-scheme-btn" class="btn">Add!</button>

    
  </div>

  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>

<% else %>
<a role="button" id = 'add-to-watch-already-exists-btn' class="btn"> Add To Your Watchlist</a>

<% end%>






<% end %>

<div class="modal clearfix" id="contest-select">
  </div>

<% if @scheme.creator_id == @current_user.id.to_s %>
  <div id="contest" class="btn">Add to Contest</div>
<% end %>

<p id="notice"><%= notice %></p>


<p>
  <b>Creator:</b>
  <%= @scheme.creator_id %>
</p>

<p>
  <b>Description:</b>
  <%= @scheme.description %>
</p>

<p>
  <b>Title:</b>
  <%= @scheme.title %>
</p>

<h1> Users </h1>

<% @scheme.users.each do |u| %>
    <div style="width:300px; height:100px; background:grey" class ="user">
      <h3><%= u.name %></h3>
    </div>
   
<% end %>

<h1> Contests </h1>
<% @scheme.contests.each do |c| %>
  <div style="width:300px; height:100px; background:grey" class ="user">
    <h3><%= c.title %></h3>
  </div>
   
<% end %>

<h1> Messages </h1>
<% @scheme.messages.each do |m| %>
    <div style="width:300px; height:100px; background:grey">
      <h3><%= m.content %></h3>
      <h4>By <%= m.user.name %></h4>
    </div>
   
<% end %>

<textarea id ="message" rows="10" cols="400">

</textarea>
<br />

<button type="submit" id="message-submit" class="btn"> Submit!</button>


<script>
  $("#contest").click(function() {
    $("#contest-select").html(
      ' <h3 class="modal-header">Pick a contest to enter</h3>' +
        '<div class="modal-body">' +
    '<% @event.contests.each do |c| %>' +
      '<p><%= c.title %></p>' +
      '<div class="btn contest-apply" id="contest-<%= c.id %>">Apply</div>' +
    '<% end %> ' +
  '</div>'
    ).modal();
    $(".contest-apply").click(function() {
      contest_id = this.id.split("-")[1];
      $.ajax({
        url: "/events/<%= @event.id %>/contests/add_scheme",
        type: "POST",
        data: {
          scheme_id: <%= @scheme.id %>,
          contest_id: contest_id
        },
        success: function() {
          location.reload();
        }
      })
    })
  })

</script>


<div id="myPublisherDiv"></div>
     




<!-- 
<%= link_to 'Edit', edit_event_scheme_path(@event,@scheme) %> 
 -->

