<script src='https://swww.tokbox.com/webrtc/v2.0/js/TB.min.js'></script>

<link href="/assets/realtime-notifications/src/lib/gritter/css/jquery.gritter.css"rel="stylesheet" type="text/css" />
<script>
  $(function() {
    var pusher = new Pusher('a86e492369573711f1ac');
    var channel = pusher.subscribe('page-<%=@scheme.id%>');
    var notifier = new PusherNotifier(channel);
  });

</script>
<script type="text/javascript">
  // Initialize API key, session, and token...
  // Think of a session as a room, and a token as the key to get in to the room
  // Sessions and tokens are generated on your server and passed down to the client
  var apiKey = "16342281";
  var sessionId = "2_MX4xNjM0MjI4MX4xMjcuMC4wLjF-U2F0IE1heSAxOCAxODowNDozMCBQRFQgMjAxM34wLjY2Mjg1NH4";
  var token = "T1==cGFydG5lcl9pZD0xNjM0MjI4MSZzZGtfdmVyc2lvbj10YnJ1YnktdGJyYi12MC45MS4yMDExLTAyLTE3JnNpZz04YzIzZDI3YzNiODk3NzVkNjI4NTllNjllYWRlNDYzYWNkMGFhY2QxOnJvbGU9cHVibGlzaGVyJnNlc3Npb25faWQ9Ml9NWDR4TmpNME1qSTRNWDR4TWpjdU1DNHdMakYtVTJGMElFMWhlU0F4T0NBeE9Eb3dORG96TUNCUVJGUWdNakF4TTM0d0xqWTJNamcxTkg0JmNyZWF0ZV90aW1lPTEzNjg5MjU0NzQmbm9uY2U9MC4zOTE2Mjg5NzE0NjM2NDc2JmV4cGlyZV90aW1lPTEzNjk1MzAyNzgmY29ubmVjdGlvbl9kYXRhPQ==";
  
  var session;
  var publisher;
  var subscribers = {};
  var VIDEO_WIDTH = 280;
  var VIDEO_HEIGHT = 210;

  TB.addEventListener("exception", exceptionHandler);
  
  // Un-comment the following to set automatic logging:
  // TB.setLogLevel(TB.DEBUG);

  if (TB.checkSystemRequirements() != TB.HAS_REQUIREMENTS) {
    alert("You don't have the minimum requirements to run this application."
        + "Please upgrade to the latest version of Flash.");
  } else {
    session = TB.initSession(sessionId);  // Initialize session

    // Add event listeners to the session
    session.addEventListener('sessionConnected', sessionConnectedHandler);
    session.addEventListener('sessionDisconnected', sessionDisconnectedHandler);
    session.addEventListener('connectionCreated', connectionCreatedHandler);
    session.addEventListener('connectionDestroyed', connectionDestroyedHandler);
    session.addEventListener('streamCreated', streamCreatedHandler);
    session.addEventListener('streamDestroyed', streamDestroyedHandler);
  }

  //--------------------------------------
  //  LINK CLICK HANDLERS
  //--------------------------------------

  /*
  If testing the app from the desktop, be sure to check the Flash Player Global Security setting
  to allow the page from communicating with SWF content loaded from the web. For more information,
  see http://www.tokbox.com/opentok/docs/js//tutorials/helloworld.html#localTest
  */
  
  function connect() {
    session.connect(apiKey, token);
  }

  // Called when user wants to start publishing to the session
  function startPublishing() {
    if (!publisher) {
      var parentDiv = document.getElementById("myCamera");
      var publisherDiv = document.createElement('div'); // Create a div for the publisher to replace
      publisherDiv.setAttribute('id', 'opentok_publisher');
      parentDiv.appendChild(publisherDiv);
      var publisherProps = {width: VIDEO_WIDTH, height: VIDEO_HEIGHT};
      publisher = TB.initPublisher(apiKey, publisherDiv.id, publisherProps);  // Pass the replacement div id and properties
      session.publish(publisher);
      // show('unpublishLink');
      // hide('publishLink');
    }
  }

  function stopPublishing() {
    if (publisher) {
      session.unpublish(publisher);
    }
    publisher = null;

    // show('publishLink');
    // hide('unpublishLink');
  }

  //--------------------------------------
  //  OPENTOK EVENT HANDLERS
  //--------------------------------------

  function sessionConnectedHandler(event) {
    // Subscribe to all streams currently in the Session
    for (var i = 0; i < event.streams.length; i++) {
      addStream(event.streams[i]);
    }

    startPublishing();
    // show('disconnectLink');
    // show('publishLink');
    // hide('connectLink');
  }

  function streamCreatedHandler(event) {
    // Subscribe to the newly created streams
    for (var i = 0; i < event.streams.length; i++) {
      addStream(event.streams[i]);
    }
  }

  function streamDestroyedHandler(event) {
    // This signals that a stream was destroyed. Any Subscribers will automatically be removed.
    // This default behaviour can be prevented using event.preventDefault()
  }

  function sessionDisconnectedHandler(event) {
    // This signals that the user was disconnected from the Session. Any subscribers and publishers
    // will automatically be removed. This default behaviour can be prevented using event.preventDefault()
    publisher = null;

    // show('connectLink');
    // hide('disconnectLink');
    // hide('publishLink');
    // hide('unpublishLink');
  }

  function connectionDestroyedHandler(event) {
    // This signals that connections were destroyed
  }

  function connectionCreatedHandler(event) {
    // This signals new connections have been created.
  }

  /*
  If you un-comment the call to TB.setLogLevel(), above, OpenTok automatically displays exception event messages.
  */
  function exceptionHandler(event) {
    alert("Exception: " + event.code + "::" + event.message);
  }
  //--------------------------------------
  //  HELPER METHODS
  //--------------------------------------
  function addStream(stream) {
    // Check if this is the stream that I am publishing, and if so do not publish.
    if (stream.connection.connectionId == session.connection.connectionId) {
      return;
    }
    var subscriberDiv = document.createElement('div'); // Create a div for the subscriber to replace
    subscriberDiv.setAttribute('id', stream.streamId); // Give the replacement div the id of the stream as its id.

    subscriberDiv.setAttribute('style', 'float:left'); 
    document.getElementById("subscribers").appendChild(subscriberDiv);
    var subscriberProps = {width: VIDEO_WIDTH, height: VIDEO_HEIGHT};
    subscribers[stream.streamId] = session.subscribe(stream, subscriberDiv.id, subscriberProps);
  }

  function show(id) {
    document.getElementById(id).style.display = 'block';
  }

  function hide(id) {
    document.getElementById(id).style.display = 'none';
  }
</script>

<script type="text/template" id="message-template">
  <div style="width:300px; height:100px; background:grey">
    <h3> [[= message ]] </h3>
    <h4> By [[= user_name ]] </h4>
  </div>
</script>

<script>
$(document).ready(function(){
  window.message_template = _.template($("#message-template").html());
});
  (function(){
      addMessage=function(data){
        $("#message").val("");
        var new_message = $(message_template(data));
        $('#messages').append(new_message);
      };
  }());

$(document).ready(function(){
    <% if @current_user %>
    var posX = ""
    var posY = ""
    var picked = false

    $("#pin").hide()
    $('#map3').mousemove(function(e){
        if (!picked){
             var parentOffset = $(this).parent().offset(); 
               //or $(this).offset(); if you really just want the current element's offset
               posX = e.pageX - parentOffset.left - 24;
               posY = e.pageY - parentOffset.top - 40;
             $("#pin").show()
             $("#pin").css("left", posX + "px")
             $("#pin").css("top", posY + "px")
             console.log(posX + " " + posY)
        }
    });

    $('#map3').dblclick(function(){
        picked = false
        $('#temp-loc').html("")
    })

    $('#map3').click(function(){
        $('#temp-loc').html("Your location is saved!")
        picked = true
    });

    $('#add-scheme-btn, #add-to-watch-already-exists-btn').click(function(){
      $.ajax({
            type: "POST",
            url: "/add-scheme/",
            data: {
                  scheme_id: <%= @scheme.id %>,
                  user_id: <%= @current_user.id %>,
                  'left': posX,
                  'top': posY
            },
            dataType: "json",
            success: function(data){
                location.reload()
            }
        });
    });
    $('#message-submit').click(function(){
        $.ajax({
            type: "POST",
            url: "/events/<%= @scheme.event.id %>/schemes/<%= @scheme.id %>/messages/",
            data: {
                message:{
                    scheme_id: <%= @scheme.id %>,
                    user_id: <%= @current_user.id %>,
                    content: $('#message-text-box').val()
                }
            },
            dataType: "json",
            success: function(data){
                //location.reload()
            }
        });
      })

      $('#video-chat').click(function(){
        $('#video-views').fadeIn()
        connect()

      })    
    <% end %>
})
</script>
<% if @current_user && !@scheme.users.include?(@current_user) %>
  <% if !@already_have_loc %>
    <a href="#myModal" role="button" class="btn" data-toggle="modal"> Add To Your Watchlist</a>
    <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-header">
        Add To Your Schemes!
      </div>
      <div class="modal-body">
             Pick your location below by clicking on the map. Double click to change:
            <div "temp-loc" > </div>
            <div id="map3" style="background-image:url('http://blog.ticketcity.com/wp-content/uploads/2008/09/new-dallas-cowboys-stadium-arlington-seating-chart1.jpg'); background-size: 500px 500px; width: 500px; height: 500px; position:relative">
                <image id="pin" src="/img/map.png" style="width:12px; height:20px; position:absolute"/>
            </div>
             <button type="submit" id="add-scheme-btn" class="btn">Add!</button> 
      </div>
      <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
      </div>
    </div>
  <% else %>
    <a role="button" id = 'add-to-watch-already-exists-btn' class="btn">Join this Scheme</a>
  <% end%>
<% end %>

<div class="modal clearfix" id="contest-select">
  </div>

<p id="notice"><%= notice %></p>

<div id="scheme-title" class="container" style="margin-bottom: 20px; text-align: center;">
  <hr>
  <h1 style="display: inline-block;"><%= @scheme.title %></h1>
  <% if @current_user && @scheme.creator_id == @current_user.id.to_s %>
    <span id="contest" style="display: inline-block; margin: -20px 0 0 20px;" class="btn">Register Scheme for a Contest</span >
  <% end %>
  <hr>
</div>
<div id="scheme-main-row-container" class="center">
  <div id="scheme-main-row" class="clearfix center">
    <div id="scheme-image" class="pull-left">
       <%= render :partial => "shared/scheme_icon", :locals => {:scheme => @scheme, :hover=> false } %>
    </div>
    <div id="scheme-users" class="pull-left">
      <div id="scheme-users-title" class="scheme-section-title">
        <h3 style="margin-top: -10px">Users Scheming</h3>
      </div>
      <ul>
          <li><%= @scheme.creator.name %></li>
      <% @scheme.users do |user| %>
          <li><%= user.name %></li>
      <% end %>
      </ul>
    </div>
    <div id="scheme-contests" class="pull-left">
      <div id="scheme-users-title" class="scheme-section-title">
        <h3 style="margin-top: -10px">Registered Contests</h3>
      </div>
      <% if @scheme.contests.count > 0 %>
        <% @scheme.contests do |content| %>
          <div class="scheme-contest">
          </div>
        <% end %>
      <% else %>
        This scheme is currently not entered in any contests. <br />
        Use the message box below to ask the scheme creator to enter it
        in a contest!
      <% end %>
    </div>
  </div>
</div>
<div style="height: 20px"></div>
<div class="center">
  <input style="display: block" id="video-chat"  class="video-button special-input center" type="submit" value="Video Chat">
  <div style="width:900px;height:300px; display: none;" id="video-views">
    <div style="width:600px; margin: 0 auto">
      <div id="myCamera" class="publisherContainer" style="float:left;"></div>
      <div id="subscribers" style=" margin-left:40px;float:left"></div>
    </div>
  </div>
</div>
<hr>
<div style="width: 100%;">
  <div id="messages">
    <h1> Messages </h1>
  <div id="messages">
    <% @scheme.messages.each do |m| %>
      <div style="width:300px; height:100px; background:grey">
        <h3><%= m.content %></h3>
        <h4>By <%= m.user.name %></h4>
      </div>
    <% end %>
  </div>
  </div>
  <div class="center" >
    <textarea id ="message-text-box" class="center" resizeable="false"></textarea>
    <input   class="center  special-input" type="submit" id="message-submit" class="btn" />
  </div>
</div>



<div id="fb-root"></div>
<button id="fb-btn" class="btn">Post to FB!</button>

<script>
  window.fbAsyncInit = function() {
    // init the FB JS SDK
    FB.init({
      appId      : '530419823666957',                        // App ID from the app dashboard
      // channelUrl : '//WWW.YOUR_DOMAIN.COM/channel.html', // Channel file for x-domain comms
      status     : true,                                 // Check Facebook Login status
      xfbml      : true                                  // Look for social plugins on the page
    });


    // Additional initialization code such as adding Event Listeners goes here
  };


    $(document).ready(function(){

        $('#fb-btn').click(function(){
             FB.ui(
          {
           method: 'feed',
           name: 'Join my Scheme!',
           caption: 'BODY PAINTING AT FOOTBALL GAME',
           description: (
              "Hey guys, let's organize a scheme to do body painting at tomorrow's game :D. "
           ),
           link: 'http://localhost:3000/events/<%= @event.id %>/schemes/<%= @scheme.id %>',
           picture: 'http://www.collegecharlie.com/sanford-stadium.jpg'
          },
          function(response) {
            if (response && response.post_id) {
              console.log('Post was published.');
            } else {
              console.log('Post was not published.');
            }
          }
        );

        })
       

    })

  // Load the SDK asynchronously
  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/all.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>




<script>
  $("#contest").click(function() {
    $("#contest-select").html(
      ' <h3 class="modal-header">Pick a contest to enter</h3>' +
        '<div class="modal-body">' +
    '<% @event.contests.each do |c| %>' +
      '<p><%= c.title %></p>' +
      '<div class="btn contest-apply" id="contest-<%= c.id %>">Apply</div>' +
    '<% end %> ' +
  '</div>'
    ).modal();
    $(".contest-apply").click(function() {
      contest_id = this.id.split("-")[1];
      $.ajax({
        url: "/events/<%= @event.id %>/contests/add_scheme",
        type: "POST",
        data: {
          scheme_id: <%= @scheme.id %>,
          contest_id: contest_id
        },
        success: function() {
          location.reload();
        }
      })
    })
  })
</script>



<!-- 
<%= link_to 'Edit', edit_event_scheme_path(@event,@scheme) %> 
 -->

