<p id="notice"><%= notice %></p>


<p>
  <b>Creator:</b>
  <%= @scheme.creator_id %>
</p>

<p>
  <b>Description:</b>
  <%= @scheme.description %>
</p>

<p>
  <b>Title:</b>
  <%= @scheme.title %>
</p>

<% @scheme.users.each do |u| %>
    <div style="width:300px; height:100px; background:grey" class ="user">
      <h3><%= u.name %></h3>
    </div>
   
<% end %>


<!-- 
<%= link_to 'Edit', edit_event_scheme_path(@event,@scheme) %> 
 -->