<script>


</script>


<p id="notice"><%= notice %></p>


<p>
  <b>Creator:</b>
  <%= @scheme.creator_id %>
</p>

<p>
  <b>Description:</b>
  <%= @scheme.description %>
</p>

<p>
  <b>Title:</b>
  <%= @scheme.title %>
</p>


<% @scheme.users.each do |u| %>
    <div style="width:300px; height:100px; background:grey" class ="user">
      <h3><%= u.name %></h3>
    </div>
   
<% end %>


<% @scheme.messages.each do |m| %>
    <div style="width:300px; height:100px; background:grey" class ="user">
      <h3><%= m.content %></h3>
      <h3><%= m.user.name %></h3>
    </div>
   
<% end %>

<textarea id ="message" rows="10" cols="400">

</textarea>
<br />
<button type="submit" id="message-submit" class="btn"> Submit!</button>





<!-- 
<%= link_to 'Edit', edit_event_scheme_path(@event,@scheme) %> 
 -->

