<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :stubhub_userId %><br />
    <%= f.text_field :stubhub_userId %>
  </div>
  <div class="field">
    <%= f.label :seat %><br />
    <%= f.text_field :seat %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
