<script>
$(document).ready(function(){
    var posX = ""
    var posY = ""
    var picked = false
    $("#pin").hide();
    var currentMousePos = { x: -1, y: -1 };
    $(document).mousemove(function(event) {
        currentMousePos.x = event.pageX;
        currentMousePos.y = event.pageY;
    });
    function addMyMarker() {
        <% if @my_loc %>
        $('#map2').append('<image src="/img/map_mine.png" style="height:20px;width:20px;position:absolute; left:' + ($('#map2').offset().left + <%= @my_loc.left %>-40) + 'px; top: ' + ($('#map2').offset().top + <%= @my_loc.top %>-34) +'px"/>');
        <% end %>

    }
    addMyMarker();
    var override = false;
    $('#map').mousemove(function(e){
        if (!picked || e.isTriggered){
             var parentOffset = $(this).parent().offset();
               posX = currentMousePos.x- parentOffset.left - 10;
               posY = currentMousePos.y - parentOffset.top - 20;
             $("#pin").show();
             $("#pin").css("left", posX + "px");
             $("#pin").css("top", posY + "px");
        }
        override = false;
    }).dblclick(function(){
        picked = false;
        override = true;
        $("#map").mousemove();
        $('#temp-loc').html("");
    }).click(function(){
        $('#temp-loc').html("Your location is saved!")
        picked = true
    })
    window.schemes =  <%= raw @schemes.to_json %>
    window.locs = <%= raw @locs.to_json %>
    $('.scheme').hover(function(){
         $('#map2').html("");
         addMyMarker();
        id = $(this).attr('data-id')
        for (var i = 0; i < schemes.length; i++){
            if (schemes[i].id == id){
                users = schemes[i].users
                for (var j = 0; j < users.length; j++){
                    var u_id = users[j].id
                    for (var k = 0; k < locs.length; k++){
                        if (locs[k].user_id == u_id){
                            $('#map2').append('<image class="ping" src="/img/map.png" style="width:12px; height:20px; position:absolute; left:' + ($('#map2').offset().left + locs[k].left-45) + 'px; top: ' + ($('#map2').offset().top + locs[k].top-40) +'px"/>')
                        }
                    }
                }
                break;
            }
        }
    }).mouseleave(function(){
         $('#map2').html("");
         addMyMarker();
    });
    <% if !@current_user %>
        $('#create-scheme-btn').hide()
    <% end%>
    <% if @current_user %>
    $('#scheme-form-submit').click(function(){
         $.ajax({
            type: "POST",
            url: "/events/<%= @event.id %>/schemes/",
            data: { 
                <% if !@already_have_loc %>
                'left': posX,
                'top': posY,
                <% end %>
                scheme:{
                    event_id: <%= @event.id %>,
                    creator_id: <%= @current_user.id %>,
                    description: $('#description').val(),
                    title: $('#title3').val(),
                    //image_url,
                    team_name: "<%= @team %>",
                }
            },
            dataType: "json",
            success: function(data){
                location.reload()
            }
        });
        return false;
    })

    $("#send-message-submit").click(function() {
      <% @event.schemes.each do |s| %>
          $.ajax({
            type: "POST",
            url: "/events/<%= @event.id %>/schemes/<%= s.id %>/messages/",
            data: {
                message:{
                    scheme_id: <%= s.id %>,
                    user_id: <%= @current_user.id %>,
                    content: $('#admin-message').val()
                }
            },
            dataType: "json",
            success: function(data){
            }
        });
      <% end %>

      $("#adminModal").modal("hide");
    })
    <% end%>
    });
</script>
<p id="notice"><%= notice %></p>
<div id="adminModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2" aria-hidden="true">
  <div class="modal-header">
    Message All Users!
  </div>
  <div class="modal-body">
    Message all users making schemes for this event!
    <form class="form-horizontal" >     
      <div class="control-group">
        <label class="control-label" for="message">Message</label>
        <div class="controls">
          <textarea id="admin-message" placeholder="Enter message"> </textarea>
        </div>
      </div>
      <div class="control-group">
        <div class="controls">
          <div id="send-message-submit" class="btn">Message Users!</div>
        </div>
      </div>
    </form>
  </div>
</div>
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    Start a Scheme!
  </div>
  <div class="modal-body">  
    <% if !@already_have_loc %>
         Pick your location below by clicking on the map. Double click to change:
        <div "temp-loc" > </div>
        <div id="map">
            <image id="pin" src="/img/map.png" style="width:12px; height:20px; position:absolute"/>
        </div>
    <% end%>
    <form class="form-horizontal" >     
      <div class="control-group">
        <label class="control-label" for="title">Title</label>
        <div class="controls">
          <input type="text" id="title3" placeholder="Title">
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="description">description</label>
        <div class="controls">
          <textarea id="description" placeholder="Enter description"> </textarea>
        </div>
      </div>
      <div class="control-group">
        <div class="controls">
          <button type="submit" id="scheme-form-submit" class="btn">Create!</button>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>
<div id="show-wrapper" class="container">
  <div id="title-2">
    <h2><%= @event.name %></h2>
  </div>
  <div id="event-show-info">
      Schemes:<span class="text-number-special"><%= @event.schemes.count %></span>
      Schemers:<span class="text-number-special"><%= @event.schemers %></span>
      <input id="create-scheme-btn" data-toggle="modal" type="submit" value="Start a Scheme" href="#myModal">
      <% is_admin = false %>
      <% @current_user.team_admins.each do |a| %>
        <% if (a.team_name == @event.team_1) || (a.team_name == @event.team_2) %>
          <% is_admin = true %>
        <% end %>
      <% end %>
      <% if is_admin %>
        <input id="message-event-btn" data-toggle="modal" type="submit" value="Message All Users" href="#adminModal">
      <% end %>
  </div>
  <div>
    <div class="row clearfix" style="margin-right: -5px;">
      <div class="event-show-spacer"></div> 
      <div class="pull-left space-vertical"></div>
      <div id="map2" class="pull-left">
      </div>
      <div id="schemes" class="pull-left">
        <div id="scheme-section-title">
          <h3>Schemes</h3>
        </div>
        <% @schemes.each do |s| %>
            <a href="<%= event_scheme_path(@event,s) %>">
              <div class ="scheme clearfix" data-id="<%= s.id %>">
                <div class="pull-left">
                  <img src="<%= s.image_url%>" width="66" height="66"/>
                </div>
                <div class="pull-left text">
                  <h3><%= s.title %>    </h3>
                  <p><%= s.description %></p>
                </div>
                <div id="endorsed-wrapper-<%= s.id %>">
                     <% @current_user.team_admins.each do |a| %>
                      <% if (a.team_name == s.team_name) && !(s.is_endorsed) %>
                          <div class="btn scheme-endorse" id="endorse-<%= s.id %>">Endorse!</div>    
                        <% end %> 
                      <% end %>
                    <% if s.is_endorsed %>
                      <div id="is_endorsed">Endorsed!</div>
                    <% end %>
                  </div>
              </div>
            </a>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script>
  $(".scheme-endorse").click(function(e) {
    e.preventDefault();
    var scheme_id = this.id.split("-")[1];
    $.ajax({
      url: "/events/<%= @event.id %>/schemes/" + scheme_id,
      type: "PUT",
      data: {
        scheme: {
          is_endorsed: true
        }
      },
        success: function() {
          $("#endorsed-wrapper-" + scheme_id).html('<div id="is_endorsed">Endorsed!</div>');
        }
    })
  })
</script>
