<!DOCTYPE html>
<html>
<head>
  <title>Screamzone</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag "jquery", "jquery_ujs" %>
  <%= javascript_include_tag "application" %>
</head>
<body>

	<%= yield %>
	<script>
	$(document).ajaxSend(function(e, xhr, options) {
	  var token = $("meta[name='csrf-token']").attr("content");
	  xhr.setRequestHeader("X-CSRF-Token", token);
	});
	</script>
</body>
</html>
